* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body {
  height: 100%;
  background: #000;
  color: #fff;
}

#app {
  width: 960px;
  margin: 10px auto;
  text-align: center;
  padding: 20px 0;
}

#app-images {
  background: #fff;
  display: inline-block;
  width: auto;
  border-radius: 7px;
  margin: 10px;
  vertical-align: middle;
  padding: 5px;
}

h1, h2 {
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
}

img {
  width: 200px;
  margin: 5px;
}

canvas {
  border-radius: 3px;
  padding: 10px;
}

.chart-heading {
  margin: 15px;
}

#all-data-chart {
  background: #444;
}

.percentage-pie {
  display: inline-block;
  width: 20%;
}
